html,
* {
  box-sizing: border-box;
  font-family: 'Zen Loop', cursive;
  text-shadow: 1px 1px 2px white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.imgur.com/i9rcGzu.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
  height: auto;
  opacity: 1.2;
}

